@import "tailwindcss";

@theme {
  --color-brand-blue: #2563eb;
  --color-brand-blueDark: #1d4ed8;
  --color-brand-grayLight: #f3f4f6;
  --color-brand-gray: #e5e7eb;
  --color-brand-grayDark: #d1d5db;
  --color-brand-white: #fff;
}

